/******* фон *******/

/*.bg-fb {
    width: 41px; height: 41px;
    background: url('../img/icons/socials-sprites.png') -10px -10px;
}
.bg-pn {
    width: 41px; height: 41px;
    background: url('../img/icons/socials-sprites.png') -71px -10px;
}
.bg-tw {
    width: 41px; height: 41px;
    background: url('../img/icons/socials-sprites.png') -10px -71px;
}
.bg-yt {
    width: 41px; height: 41px;
    background: url('../img/icons/socials-sprites.png') -71px -71px;
}*/
/******* end_фон *******/


/*._fixed{
  position:fixed;
}*/
/*._relative{
  position:relative;
}
._shadow{
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}*/
