a{
  cursor:pointer;
  text-decoration:none;
  outline:none;
}
body{
  background-color:$bg-first;
  font-family:$font-family-first;
  font-size:$font-size-base;
  color:$text-color-first;
}
h1, h2, h3{
  font-family:$font-family-second;
  font-weight:bold;
  text-transform:uppercase;
}
h1{
  font-size:$font-size-h1;
  letter-spacing:1.7px;
  line-height:36px;
  margin:12px 0;
  padding:14px 66px 0 40px;
}
h2{
  color:$text-color-second;
  font-size:$font-size-h2;
  letter-spacing:2px;
}
h3{
  color:$text-color-second;
  font-size:$font-size-h3;
  letter-spacing:3.6px;
  line-height:38px;
  margin-bottom:3px;
  margin-left:3px;
}
html{
  line-height:normal;
}





