@media screen and (min-width:1024px) {

}


@media screen and (min-width:768px) {
  /*.nn-container{
    padding:0 50px;
  }

  .nn-b_buttons__item{
    width:20%;
  }

  .nn-b_cards__item{
    width:33%;
  }

  .nn-card__img-block{
    height:300px;
  }*/
}
@media screen and (min-width:992px) {
  /*.nn-b_buttons__item{
    width:25%;
  }
  .nn-b_cards{
    padding-right:0;
  }
  */
}

