.nn-b_cards{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  &__item{
    box-sizing:border-box;
    width:100%;
  }
}
.nn-b_socials{
  display:flex;
  flex-flow:row wrap;
  margin-top:28px;
  &__item{
    padding-right:16px;
    &:hover{
      opacity:.6;
    }
  }
}
.nn-card{
  border-radius:3px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  position:relative;
  &:hover{
    cursor:pointer;
  }
  &__img-block{
    img{
      display:block;
      width:100%;
    }
  }
  &__title{
    letter-spacing:5px;
    font-size:24px;
    text-align:center;
  }
}
.nn-container{
  min-width:320px;
  margin:0 auto;
  max-width:1024px;
}






