$bg-first:#f6f6f6;
$bg-second:#8ae6cf;
$bg-second-opacity:rgba(138, 230, 207, 0.8);
$bg-color-1:#77d8e7;
$bg-color-2:#96c795;
$bg-color-3:#ce92a1;
$bg-color-4:#aa93cf;

$border-color:#ccc;

$text-color-first:#282828;
$text-color-second:#2c303d;
$text-color-third:#ce2c52;

$font-family-first:'Open Sans', sans-serif;
$font-family-second:'Oswald', sans-serif;

$font-size-large:35px;
$font-size-h1:24px;
$font-size-h2:22px;
$font-size-h3:14px;
$font-size-larger:16px;
$font-size-base:14px;
$font-size-small:11px;